@model StaffWorkLoad.Models.WorkLoad

@{
    ViewBag.Title = "Edit Workload";
}

@*<h2>Edit</h2>*@

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ClientSideValidation.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Edit Workload</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.PersonID, "Staff Name")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PersonID", String.Empty)
            @Html.ValidationMessageFor(model => model.PersonID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @*@Html.EditorFor(model => model.StartDate)*@
            @Html.TextBox("StartDate", Model.StartDate.ToString("dd/MM/yyyy"), new { @class = "date-pick" })
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @*@Html.EditorFor(model => model.EndDate)*@
            @Html.TextBox("EndDate", Model.EndDate.ToString("dd/MM/yyyy"), new { @class = "date-pick" })
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WorkType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WorkType)
            @Html.ValidationMessageFor(model => model.WorkType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
